img {
    width: 20dvw;
    height:20dvw;
}
.img{
    display: flex;
    flex-wrap:nowrap;
    margin-left: 50px;
    margin-right:50px;
    gap: 15px;
}
img:hover{
    width:600px;
    height:600px;
}